@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-white: #fff;
    --primary-organce: #f9ab00;
    --primary-dark: rgba(255,255,255,0);
}

body{
    font-family: "Roboto Condesed" sans-serif
}
  /********************************** NAVBAR *****************************/

  .logo {
    width: 10.25rem;
    height: 5rem;
  }

/********************************** NAVBAR *****************************/

nav a.App-link{
    font-weight: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
}


nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li >a {
    color: var(--primary-white) !important;
    margin-right: 1.1rem;
    border-top: .0375rem solid var(--primary-dark);
}

.navbar-brand {
    max-width: 12.25rem;
    padding: 0 !important;
    height: 5rem;

}

.navbar-brand > li > a.active, .navbar-nav >li >a:focus{
    border-top: .0375rem solid var(--primary-organce);

}

.navbar-nav > li >a:hover{
    border-top: .0375rem solid var(--primary-organce);
}

.header-wraper {
    position: relative;
    background: #fff;
    background-size: cover;
    background-position: center;
    height: 90vh;
    font-family: "Roboto Condesed" sans-serif
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info h1 {
    color : var(--primary-organce);
    text-transform: uppercase;
}